@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@400;500&display=swap');

*{
	 font-family: "Poppins", sans-serif;
}
.info{
	justify-content: center;
	display: inline-block;
	margin-left: 35%;
	margin-top: 8%;
}
h1{
	color: white;
	text-align: center;
	padding-bottom: 12px;

}
input{
	display: inline-block;
	border-radius: 6px;
	border: none;
}
#submit{
margin-top:0;
position:relative;
position: absolute;
margin-left: 3px;
padding: 8px 29px;
font-size: 16px;
}
#text{
font-size:20px;
padding: 6px 6px;
width: 393px;
}
.extract{
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius:9px;
	margin-top: 12px;
}
.material-symbols-outlined{
	margin-top: 6px;
	font-size: 40px;
	cursor: pointer;
}
li{
	display: inline-block;
	font-size: 22px;
	margin-left: 15px;
    margin-right: 14px;
}
#checkbox{
	line-height: normal;
	margin: 4px 0px;
	width: 20px;
	height: 20px;
	margin-top: 9px;
	cursor: pointer;
}
ul{
	display: flex;
	justify-content: space-between;
	padding: 15px 15px;
}
.tetxtcross{
	text-decoration: line-through black;
}
form{
	display: inline-block;
}